// put
.put{
	width: 90%;
	background-color:#ffffff;
	padding: 1rem 5%;
	.back{
		width: 100%;
		height: 3rem;
		margin: 0 auto;
		border-bottom: 0.01rem solid #cccccc;
		p{
			height: 2.6rem;
			font-size: 1.1rem;
			line-height: 2.6rem;
			text-indent: 1rem;
		}

	}
	.take{
		label{
			width: 3rem;
			height: 4rem;
			line-height: 3rem;
			font-size: 1rem;
		}
		input{
			height: 1.4rem;
			width: 70%;
		}
		button{
			display: inline-block;
			height:1.4rem;
			width: 3rem;
			border-radius: 1rem
		}
	}
}